* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0;
  font-size: 1.6rem;
}

#hero img {
  margin: 0 auto 10rem;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
  margin-bottom: 3.2rem;
}

h1 span {
  font-weight: bold;

  margin-bottom: 32px;
}

#hero {
  width: 59.2rem;
  margin: 0 auto 7.2rem;
}

span,
a {
  color: #ff9900;
}

p,
#footer {
  color: #7d7987;
  font-size: 14px;
  line-height: 28px;
}

#footer a + a {
  margin-left: 28px;
}

.line {
  width: 568px;
  height: 0;

  margin: 0.8rem auto;

  border: 1px solid #eceff2;
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}
